
 #challeng {
margin-right: 200px;
} 


.tex-center {
    margin-left: 400px;
}


img  {
    height: 400px;
    width: 540px;
}
p {
    text-indent: 20px;
    margin-right: 20px;
}
h1 {
 text-align: center;
}

